variables:
  APP_VERSION: 1.0.0
  BUILD_VERSION: "${APP_VERSION}.${CI_PIPELINE_ID}"

stages:
  - compile
  - test
  - build
  - scan
  - publish
  - deploy

include:
    - '/ui/.gitlab-ci.yml'
    - '/api/.gitlab-ci.yml'
    - '/k8s/.gitlab-ci.yml'